<div class="hero-unit">
  <h2>About??</h2>
  <p>This was done in the free time of a few developers trying to find the code-enlightment, I dont think we have achieve it, but we are close </p> 
  <p>Feel free to contact us if you have an interesting project or just to chitchat, autographs are still free</p>
<p>We are planning to do this app opensource, we are just fixing some indentation problems on the views (?), we will be uploading to github as soon as we finish</p>
<h2>Contributors: </h2>
<p>
	<h3><a href="http://www.zerokernel.com">Polo Ornelas</a></h3>
	 <p>Photographer, developer, backend, front end, team lead, friend</p>	
</p>
<p>
	<h3><a href="http://raflabs.com/">Rafael Magaña</a></h3>
	 <p>Musician, developer, team lead, architect, dad (pro), friend</p>	
</p>
<p>
	<h3><a href="http://acatl.net">Acatl Pacheco</a></h3>
	 <p>Painter, developer, UX developer, team lead, architect, dad (newbi), friend</p>	
</p>
</div>
