<div class="hero-unit">
  <h1>About??</h1>
  <p>This was done in the free time two developers (shown on alphabetical order) trying to find the code-enlightment, I dont think we have achieve it, but we are close </p> 
  <p>Feel free to contact us if you have an interesting project or just to chitchat, autographs are still free</p>
</div>

<div class="row">
  <div class="span6">
	<h2>Acatl Pacheco</h2>
	 <p>Painter, developer, UX developer, team lead, architect, future-dad, friend</p>
	<p><a class="btn" href="http://acatl.net">Personal page &raquo;</a></p>
  </div>
  <div class="span6">
	<h2>Polo Ornelas</h2>
	 <p>Photographer, developer, backend, front end, team lead, friend</p>
	<p><a class="btn" href="http://zerokernel.com">Personal page &raquo;</a></p>
 </div>
</div>
