<!-- Main hero unit for a primary marketing message or call to action -->
<div class="hero-unit">
  <h1>Welcome to mystandups!</h1>
  <p>Tired of having your 3p on excel, txt, or your head? need a way to organize, search, and maybe gather info to fill your hours? this is a simple app, just fill your standup status,no fuzz, no drama, and we do the rest ... </p>
  <p><!--<a class="btn btn-primary btn-large">Learn more &raquo;</a>--></p>
</div>

<!-- Example row of columns -->
<div class="row">
  <div class="span4">
    <h2>Week view</h2>
     <p>We have a cleanely organized week view that will help you when filling your hours</p>
    <p><!--<a class="btn" href="#">View details &raquo;</a>--></p>
  </div>
  <div class="span4">
    <h2>Desktop app</h2>
     <p>We are also planning a desktop app with unique features... jira connection, drag and drop, fill your 3p easely!</p>
    <p><!--<a class="btn" href="#">View details &raquo;</a>--></p>
 </div>
  <div class="span4">
    <h2>Mobile view</h2>
    <p>On a hurry ? away from the office to do your scrum call? don't worry, the page looks nice on mobile browsers</p>
    <p><!--<a class="btn" href="#">View details &raquo;</a>--></p>
  </div>
</div>

<hr>
